:root{
    --btn-background:#aaa;
    --btn-hover-background:#888;
}
.hs-booksList{
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.hs-book{
    display:flex;
    flex-direction: column;
    max-width:250px;
    flex:0 0 250px;

    .btn{
        display:inline-flex;
        align-items:center;
        text-align:center;
        border:none;
        background:var(--btn-background);
        color:#fff;
        font-size:12px;
        border-radius:1px;
        margin-left:auto;
        margin-bottom:10px;
        transition:0.15s ease-in background;
        height:19px;

        &:hover{
            cursor:pointer;
            background:var(--btn-hover-background);
        }
    }

    .cover{
        text-align:right;
        max-width:128px;
        
        img {
            border-radius:3px;
            border:1px solid #ccc;
            max-width:100%;
            overflow:hidden;
        }
    }

    h1{
        font-size:14px;
        color:#222;
        margin-bottom:5px;
    }
    h2{
        font-size:12px;
        color:#555;
        margin-top:0;
    }
}