.hs-sidebar{
    background:#292b2c;
    color:#aaa;
    padding:25px 10px;

    .search-field {
        width:100%;
        height:30px;
        background:rgba(#000,0.2);
        border:1px solid #444;
        border-radius:3px;
        padding:5px 25px;
        position: relative;
        display:flex;
        align-items:center;
        .icon{
            position: absolute;
    
            &:first-child{
                left:5px;
            }
            &:last-child{
                right:5px;
                cursor:pointer;
                opacity:0.9;

                &:hover{
                    opacity:1;
                    color:#fff;
                }
            }
        }

        input{
            background:rgba(#000,0);
            border:none;
            padding:0;
            color:#f7f7f7;
            outline:none;
            width:100%;
            height:20px;
        }
    }

    a{
        font-size:13px;
        cursor:pointer;
        color:#ddd;
        transition:0.15 ease-in color;
        &:hover{
            color:#fff;
        }
    }

    .hs-sidebar__section{
        margin:20px 0 0;
        padding:20px 0 0;
        border-top:1px solid rgba(#fff,0.1);
    }
}