*{
    box-sizing: border-box;
}

html,body{
    min-height:100%;
}
body {
    height:100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    color:#222;
}

.hs-container h1{
    font-size:20px;
    margin-bottom:40px;
    color:#222;

    em{
        color:rgba(#222, 0.7);
        font-size:18px;
        padding-left:5px;
    }
}