:root{
    --sidebar-width:250px;
}
.app{
    display:flex;
    width:100%;
    min-height:100%;
}
.bl-page{
    padding-left:var(--sidebar-width);
    width:100%;
    min-height: 100vh;
}

.bl-container{
    padding:25px;
    height:100%;
}

.bl-sidebar{
    width:var(--sidebar-width);
    position:fixed;
    bottom:0;
    top:0;
    left:0;
}

@media (max-width: 550px) {
    .app{
        flex-direction:column;
    }
    .bl-sidebar{
        position:static;
        width:100%;
    }
    .bl-page{
        padding:0;
    }
}



