:root{
    --sidebar-width:250px;
}
.app{
    display:flex;
    width:100%;
    min-height:100%;
}
.hs-page{
    padding-left:var(--sidebar-width);
    width:100%;
    min-height: 100vh;
}

.hs-container{
    padding:25px;
    height:100%;
}

.hs-sidebar{
    width:var(--sidebar-width);
    position:fixed;
    bottom:0;
    top:0;
    left:0;
}



